/* common styles */
:root {
  --primary-color: #ff5400;
}
body {
  font-family: Mulish;
}
/* header section */
.header {
  margin: 0px 135px;
}
/* nav */
.site-title {
  display: flex;
  gap: 5px;
  align-items: center;
}
.site-title img {
  width: 50.8px;
  height: 40.8px;
}
.site-title h3 {
  color: #131318;
  font-size: 2.25rem;
  font-weight: 800;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav > ul , #hamburger-icon ul{
  list-style: none;
  display: flex;
  gap: 44px;
}
nav li a , #hamburger-icon a{
  text-decoration: none;
  color: #424247;
  font-size: 1.125rem;
  font-weight: 400;
}
/* icon */
#hamburger-icon {
    margin: auto 0;
    display: none;
    cursor: pointer;
  }
  
  #hamburger-icon div {
    width: 35px;
    height: 3px;
    background-color:black;
    margin: 6px 0;
    transition: 0.4s;
  }

  #hamburger-icon ul{
    display: none;
  }
  
  .open .bar1 {
    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
    transform: rotate(-45deg) translate(-6px, 6px);
  }
  
  .open .bar2 {
    opacity: 0;
  }
  
  .open .bar3 {
    -webkit-transform: rotate(45deg) translate(-6px, -8px);
    transform: rotate(45deg) translate(-6px, -8px);
  }
  
  .open .mobile-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  
  .mobile-menu {
    display: none;
    position: absolute;
    top: 50px;
    left: 0;
    height: calc(100vh - 50px);
    width: 100%;
  }
  
  .mobile-menu li {
    margin-bottom: 10px;
  }
  /* icon */
.second-part {
  color: var(--primary-color);
}
.nav-list1 a {
  color: var(--primary-color);
}

/* banner */
.banner {
  background: linear-gradient(
      180deg,
      rgba(19, 19, 24, 0.8) 0%,
      rgba(19, 19, 24, 0) 100%
    ),
    url("./Images/Group\ 13\ \(1\)\ \(1\).png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-radius: 16px;
}
.banner-nav ul {
  text-align: center;
  padding: 120px 200px;
  display: grid;
  place-items: center;
}
.banner-title {
  color: #fff;
  font-size: 4rem;
  font-weight: 800;
}
.banner-des {
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  max-width: 680px;
  padding-bottom: 40px;
}
.banner form {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 16px;
  align-items: flex-start;
  gap: 24px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.3);
}
.banner form input {
width: 100%;
height: 52px;
border: none;
border-radius: 8px;
background: #FFF;

}
.banner form button{
padding: 15px;
width: 100%;
height: 52px;
border: none;
border-radius: 8px;
color: #FFF;
background-color: var(--primary-color);
cursor: pointer;
}
.banner form select{
    padding: 15px;
    width: 100%;
    height: 52px;
    border: none;
    border-radius: 8px;
    color: rgba(19, 19, 24, 0.50);
    
}

/* responsive codes */

@media screen and (max-width:900px) {
    .header{
       margin: 0 20px;
    }
  .site-title h3{
    font-size: 1.375rem;
    font-weight: 800;
  }
   nav ul
   {
    display: none;
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
   }

   #hamburger-icon {
    display: block;
  }

 .banner-container{
    text-align: center;
    padding: 32px;
 }
   .banner-nav ul{
  padding: 24px;
   }
   .banner-title{
    font-size: 1.375rem;
   }
   .banner-des{
    font-size: 0.875rem;
   }
  .banner form{
    width: 90%;
    display: flex;
    gap: 16px;
    flex-direction: column;
 
  }
}